[Unit]
Description=gunicorn daemon for 4 Sabores Backend
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/reactpythonbackend/Backend
ExecStart=/var/www/reactpythonbackend/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          backend.wsgi:application

[Install]
WantedBy=multi-user.target
