/* src/components/BackButton.css */
.decorative-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2); /* Mismo que perfil */
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.7rem 1.4rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.decorative-back-button > svg {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  fill: white;
  transition: transform 0.3s ease;
}

.decorative-back-button:hover {
  transform: scale(1.05);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.decorative-back-button:hover > svg {
  transform: translateX(-5px);
}