.card__price {
  color: black;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  z-index: 1;
}
.menu-container {
  position: relative;
  z-index: 1; /* ✅ encima del fondo */
  padding: 2rem;
}