/* src/index.css */

/* 1. Reset Global y Box-Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 2. Base de la Página */
/* src/index.css */

/* Reset y base */
/* index.css o global.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('../assets/images/FondoMenu.png'); /* ✅ fondo tropical */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 3. Tipografía y encabezados */
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 3px 2px 6px rgb(0, 0, 0);
}

/* 4. Botón base */
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #daf1de;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8eb69b;
  color: black;
}
